<div class="box" [class.active]="isActive$ | async" (click)="onBoxClick()">
    <div class="box-id-wrapper"> <span class="box-id">{{ boxId$ | async}}</span></div>

    @if (selection$ | async; as selection) {
    @if (selection.optionLabel) {
    <div class="selected-option">
        {{ selection.optionLabel }}
    </div>
    } @else {
    <div class="placeholder">Select element</div>
    }
    }
    <div class="bottom-wrapper"><span class="box-segment"></span><span class="box-segment">
            @if (selection$ | async; as selection) {
            @if (selection.optionLabel) {

            @if (subtotal$ | async; as
            subtotal) {
            {{ subtotal.result | number:'1.1-1' }}
            }}}
        </span><span class="box-segment"></span></div>
</div>